<section class="space-y-5">
   @for (item of userList(); track item.id) {
    <div class="grid grid-cols-3 bg-secondary rounded-lg p-5" [class.bg-secondary]="item.gender === 'female'" [class.bg-primary]="item.gender === 'male'">
      <div class="col-span-2">
        <p class="text-2xl font-black">Name : <span class="font-bold text-xl">{{item.name | titlecase }}</span></p>
        <p class="text-2xl font-black">Gender : <span class="font-bold text-xl">{{item.gender | titlecase}}</span></p>
        <p class="text-2xl font-black">Email : <span class="font-bold text-xl">{{item.email | lowercase}}</span></p>
        <p class="text-2xl font-black">Birthday : <span class="font-bold text-xl">{{item.birthday |date: 'YYYY/MM/dd'}}</span></p>
      </div>
      <div class="flex justify-center items-center gap-2">
        @if (isUpdatingUser() && activeId() === item.id) {
          <button
          type="button" class="btn bg-red-500 w-full"
          (click)="onCancelEdit(item.id)"
          >Cancel edit</button>

        }@else {
          <button
          (click)="onUpdate(item.id)"
          type="button" class="btn bg-info w-20"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 20h4L18.5 9.5a2.828 2.828 0 1 0-4-4L4 16zm9.5-13.5l4 4"/></svg></button>
          <button
          (click)="onDelete(item.id)"
          type="button" class="btn bg-error w-20"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3"/></svg></button>
        }

      </div>
      <div class="divider col-span-3"></div>
      <div class="col-span-3 text-center">
        <p class="text-3xl">Registration date</p>
        <p class="text-2xl">{{item.registerDate |date : 'YYYY/MM/dd - hh:mm a'}}</p>
      </div>
    </div>
   }



</section>
